button {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #222;
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  background-color: #222;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  vertical-align: middle;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floor {
  font-size: 32px;
}