.header {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: calc(100% - 24px);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 12px;
  opacity: 1;
  transition: opacity 0.5s;

  &.hidden {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .title {
    font-size: 3em;
    color: var(--text-color);
    width: 100%;
    margin: 0;
    padding: 26px 12px 32px;
  }

  .sidebar-toggle {
    font-size: 1em;
    color: var(--text-color);
    padding: 20px 12px 24px;
    min-width: 64px;
    text-align: right;
  }

  .sidebar-toggle:hover {
    cursor: pointer;
  }

  .navigation-item {
    padding: 16px 12px 24px;
    font-size: 3em;
    color: var(--text-color);
  }

  .navigation-item:hover {
    cursor: pointer;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: right;
    padding: 0 12px;
    height: auto;
  }

  .icon {
    padding: 24px 12px;
    width: 64px;

    img {
      height: 64px;
      width: 64px;
      object-fit: contain;
      border-radius: 5px;
    }
  }

  .controls {
    padding: 24px 12px;
    width: 32px;

    img {
      height: 32px;
      width: 32px;
      object-fit: contain;
      border-radius: 5px;
    }

    :hover {
      cursor: pointer;
    }
  }
}