.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 38vw;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.5s ease, opacity 0.5s;
  transform-origin: top;
  opacity: 1;

  &.hidden {
    transform: scaleY(0);
    opacity: 0;
  }

  h2 {
    font-weight: normal;
  }

  p {
    margin: 0 0 24px;
  }

  .content {
    padding: 0 24px;
  }

  .image {
    padding: 0 24px 24px;
  }

  .image-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 12px;

    .content {
      width: 62%;
      margin: 0;
      padding: 0 12px;
    }

    .image {
      width: 38%;
      margin: 0;
      padding: 0 12px;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .centered {
    text-align: center;
    margin-bottom: 24px;
  }

  .custom-link {
    color: #AAAAAA;
    text-decoration: none;
  }

  .custom-link:hover {
    color: #CCCCCC;
  }

  .custom-link:visited {
    color: #888888;
  }

  .custom-link:active {
    color: #FFFFFF;
  }
}