.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 38vw;
  max-width: 600px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.5s ease, opacity 0.5s;
  transform-origin: top;
  opacity: 1;

  &.hidden {
    transform: scaleY(0);
    opacity: 0;
  }

  h2 {
    font-weight: normal;
  }

  p {
    margin: 0 0 24px;
  }

  .content {
    padding: 0 24px;
  }

  .image {
    padding: 0 24px 24px;
  }

  .image-with-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 12px;

    .content {
      width: 62%;
      margin: 0;
      padding: 0 12px;
    }

    .image {
      width: 38%;
      margin: 0;
      padding: 0 12px;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .play {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 24px;

    button {
      font-size: 2em;
      background-color: var(--white);
      color: var(--black);
      border-radius: 40px;
      padding: 12px 24px;
      transition: transform 0.3s ease;
      position: relative;
      z-index: 1;
    }

    button:hover {
      background-color: var(--light-light-grey);
      cursor: pointer;
      transform: translateY(-3px);
      z-index: 2;
    }

    button:disabled {
      background-color: var(--light-grey);
      cursor: not-allowed;
    }
  }
}